{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Expense Edit{% endblock %}

{% block body %}
<div class="col-md-8 col-md-offset-2">

<form method="post">{% csrf_token %}
       <fieldset class="form-group">
            <legend class="border-bottom mb-4">Edit Details</legend>
            {% csrf_token %}
            {{ form|crispy }}
        </fieldset>
    <div class="form-group">
    <input type="submit" value="Submit" />
    </div>
</form>
</div>
{% endblock %}